body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    background-color: rgb(245, 243, 243);
    display: flex;
    justify-content: space-between;
}

nav img{
    width:10%;
}

nav ul{
    list-style-type:none;
    width:40%;
    display:flex;
    justify-content: space-around;	
}

nav ul li{
    margin:auto; 
}

nav ul li a {
    text-decoration:none;
    color:grey;
}

nav ul li:first-child a {
    color:black;
}

main{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

aside{
    display: inline-block;
    width: 25%;
    vertical-align: top;
    border-right: 2px solid black;
}

section{
    display: inline-block;
    width:70%;
    height: 100%;
}

article{
    padding:2%;
    margin:2%;
    border:2px solid black;
}

article h1{
    font-size: 1rem;
}

section{
    margin:1%;
}

section img{
    width:20%;
    border-radius: 100%;
}

footer{
    border-top: 2px solid grey;
}

.centrer{
    width:100%;
    text-align:center;
}